@font-face {
    font-family: "Gloss And Bloom";
    src: url("gloss_and_bloom/Gloss_And_Bloom.ttf");
}

html {
    font-size: 20px;
}

main {
    font-size: 20px;
}

p.first {
    font-family: "Gloss And Bloom", sans-serif;
    color: blue;
    font-size: 1em;
}

p.second {
    font-family: sans-serif;
    font-style: italic;
}

.has-background {
    background-image: url("test.jpg");
    // background-color: #CCCCCC;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    /*background-repeat: repeat-y;*/
    /*background-size: cover;*/
    border: 1px solid red;
    background-position: 10px 50px;
}

.box {
    display: block;
    border: 1px solid red;
    margin: 10px 20px;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    padding: 10px;
}

.left {
    float: right;
}

.overflow {
    display: block;
    width: 500px;
    height: 100px;
    clear: both;
    overflow: scroll;
    border: 1px solid red;
}

@media screen and (max-width: 700px){
    p {
        display: none;
    }
}

.animate-me {
    background-color: red;
    color: white;
}

.animate-me:hover {
    animation-name: change-width;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.transition-me {
    display: block;
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
    background-color: red;
    transition-property: height;
    transition-duration: 800ms;
}

.transition-me:hover {
    height: 250px;
}



@keyframes change-width {
    from {
        width: 100%;
    }
    50% {
        width: 50%;
    }
    to {
        width: 100%;
    }
}

@keyframes change-color {
    from {
        background-color: blue;
    }
    to {
        background-color: red;
    }
}

