* {
    color: gray;
}

.sample-class {
    color: red;
}

#sample-id {
    color: blue;
}

pre {
    font-weight: bold;
}

h2, h3, .sample-class {
    font-family: arial;
    background-color: #ccc;
}

div p {
    font-style: italic;
    font-family: arial;
}



div > p {
    font-size: 100px;
}

button[disabled] {
    background-color: red
}

[type=text] {    // input[type=text]
    color: red;
    border-radius: 2px;
    border: 1px solid red;
}

span p::after {
    content: "this is after p";
}

span p::first-letter {
    color: red;
}

span p:hover {
    border: 1px solid red;
}

div span:nth-child(2n) {
    color: red;
}